<article class="post">
  <div class="title">
    <strong>{{title}}</strong>
    <br>
    <p>{{post_text}}</p>
  </div>
  <div class="meta">
    by {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>